---
**PROCESO**	
- [x] Cargar archivo, ver el contenido, preprocesarlo
- [ ] Procesar y manipular los datos
- [ ] Aplicar algoritmos para estudiar los datos
---

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('argentina_cars.csv')
df.head()

,money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency
0,10350000,Toyota,Corolla Cross,2022,Plateado,Nafta,5.0,Automática,NaN,SUV,500,pesos
1,10850000,Jeep,Compass,2022,Blanco,Nafta,5.0,Automática,2.4,SUV,500,pesos
2,35500,Jeep,Compass,2022,Gris oscuro,Nafta,5.0,Automática,2.4,SUV,500,dólares
3,19000,Citroën,C4 Cactus,2022,Gris oscuro,Nafta,5.0,Automática,NaN,SUV,550,dólares
4,5800000,Toyota,Corolla,2019,Gris,Nafta,4.0,Manual,1.8,Sedán,9000,pesos

In [3]:
headers = ["Precio", "Marca", "Modelo", "Año", "Color", "Combustible", "Puertas", "Transmision", "Motor", "Carroceria", "Km", "Moneda"]
df.columns = headers

In [4]:
df.head()

,Precio,Marca,Modelo,Año,Color,Combustible,Puertas,Transmision,Motor,Carroceria,Km,Moneda
0,10350000,Toyota,Corolla Cross,2022,Plateado,Nafta,5.0,Automática,NaN,SUV,500,pesos
1,10850000,Jeep,Compass,2022,Blanco,Nafta,5.0,Automática,2.4,SUV,500,pesos
2,35500,Jeep,Compass,2022,Gris oscuro,Nafta,5.0,Automática,2.4,SUV,500,dólares
3,19000,Citroën,C4 Cactus,2022,Gris oscuro,Nafta,5.0,Automática,NaN,SUV,550,dólares
4,5800000,Toyota,Corolla,2019,Gris,Nafta,4.0,Manual,1.8,Sedán,9000,pesos

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Precio       510 non-null    int64
 1   Marca        510 non-null    object
 2   Modelo       510 non-null    object
 3   Año          510 non-null    int64
 4   Color        499 non-null    object
 5   Combustible  510 non-null    object
 6   Puertas      510 non-null    float64
 7   Transmision  509 non-null    object
 8   Motor        499 non-null    object
 9   Carroceria   509 non-null    object
 10  Km           510 non-null    int64
 11  Moneda       510 non-null    object
dtypes: float64(1), int64(3), object(8)
memory usage: 47.9+ KB

In [6]:
df.isnull().sum() # Para corroborar si faltan datos, determinar en que columna estan.

Precio          0
Marca           0
Modelo          0
Año             0
Color          11
Combustible     0
Puertas         0
Transmision     1
Motor          11
Carroceria      1
Km              0
Moneda          0
dtype: int64

In [7]:
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()
print(df[df.isnull().any(axis=1)][null_columns].head(24))
# Con esta sentencia veo que datos son los que estan nulos (NAN), como son pocos en realidad le pido que me muestre
# los 24 valores asi analizo y veo que hacer si rellenar o borrar los datos faltantes.

           Color Transmision         Motor   Carroceria
0       Plateado  Automática           NaN          SUV
3    Gris oscuro  Automática           NaN          SUV
12      Plateado      Manual           NaN        Sedán
14         Negro  Automática           NaN    Hatchback
16          Gris  Automática           NaN          SUV
24         Negro      Manual           NaN    Hatchback
31         Negro      Manual           NaN      Pick-Up
34          Rojo      Manual           NaN    Hatchback
55          Gris      Manual           NaN        Coupé
56        Blanco  Automática           NaN        Sedán
208          NaN      Manual           4.4          SUV
211        Negro         NaN  2.8tdi 223cv      Pick-Up
231          NaN  Automática           1.8        Sedán
256          NaN      Manual           2.0        Sedán
278         Rojo      Manual           NaN          NaN
290          NaN      Manual           1.6        Sedán
295          NaN      Manual           1.4    Hatchback
329          NaN  Automática           2.0  Monovolumen
331          NaN      Manual           1.6    Hatchback
344          NaN      Manual           1.6       Furgón
384          NaN      Manual           1.6  Monovolumen
443          NaN      Manual           1.6    Hatchback
467          NaN      Manual           2.3        Sedán

In [8]:
df['Color'] = df['Color'].fillna("Gris") # En este caso lleno con el color mas comun.
df['Transmision'] = df['Transmision'].fillna("Manual") # En este caso lleno con el tipo de transmision mas comun.
df['Motor'] = df['Motor'].fillna(1.6) # Aqui relleno con el tipo de motor mas vendido o usado
df['Carroceria'] = df['Carroceria'].fillna("Sedan")

In [9]:
df.isnull().sum()
# Vuelvo a pasar esta sentencia para verificar que ya no hay valores NAN (Not A Number)

Precio         0
Marca          0
Modelo         0
Año            0
Color          0
Combustible    0
Puertas        0
Transmision    0
Motor          0
Carroceria     0
Km             0
Moneda         0
dtype: int64